#characters {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	position: relative;
	height: 100%;
	width: 100%;
}

#character-tile-container {
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: space-evenly;
	        align-items: space-evenly;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-flow: row wrap;
	-webkit-box-flex: 1;
	        flex: 1;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

