#sidenav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex: 1;
  background-color: #cccccc;
  box-shadow: 10px 5px 20px black;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  #sidenav {
    flex-flow: row nowrap;
  }

  #close-icon {
    align-self: flex-start;
    padding-top: 3px;
  }

}

@media only screen and (orientation: landscape) {
  #sidenav {
    flex-flow: column-reverse nowrap;
  }

  #close-icon {
    align-self: flex-end;
    margin-right: inherit;
    margin-top: inherit;
  }
}
