#sidenav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  -webkit-box-flex: 1;
          flex: 1;
  background-color: #cccccc;
  box-shadow: 10px 5px 20px black;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  #sidenav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
  }

  #close-icon {
    align-self: baseline;
    padding-top: 3px;
    margin-right: inherit;
  }

}

@media only screen and (orientation: landscape) {
  #sidenav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-flow: column-reverse nowrap;
  }

  #close-icon {
    align-self: flex-end;
    margin-right: inherit;
    margin-top: inherit;
  }
}
