#headernav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.192);
  height: 10vh;
  width: 100vw;
  box-shadow: 0px 5px 15px black;

}

#headernav-navlist {

  display: flex;
  flex-flow: row wrap;
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
}

.headernav-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 5em;
  font-size: .8em;
  font-weight: bold;
  text-shadow: 1px 2px midnightblue;
  padding: 1%;
  background-color:#EA2328;
  color: oldlace;
  border-radius: .5vw;
  transition: transform .2s;
  box-shadow: 0px 1px 1px black;
}

.headernav-link:hover {
  transform: scale(1.1);
  background: rgba(234, 35, 42, 0.5);
  color: white;
  box-shadow: 0px 5px 10px black;
  border: 1px solid cyan;
}
