
#character-by-id-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  border: none;
  border-radius: .3em;
  z-index: 1;
  box-shadow: 0px 10px 30px 10px black;
}

#by-id-opacity-layer {
  height: 100%;
  width: 100%;
  display: block;
  background-color: black;
  background: radial-gradient(circle, rgba(0,0,0,0.4192051820728291) 0%, rgba(0,0,0,0.7525385154061625) 43%, rgba(0,0,0,0.9037990196078431) 90%, rgba(0,0,0,0.9430147058823529) 100%);
  overflow-x: auto;
  overflow-y: auto;
}

/* #by-id-comics {
  display: flex;
  flex-flow: row nowrap;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  color: white;
} */

.comic-tile {
  padding: 1.5%;
  min-width: 15%;
  max-width: 30%;
  height: auto;
  box-shadow: inset 0em 1em 2em rgba(128, 128, 128, 0.5);
  border-radius: 1em;
  margin: 1%;
}

.comic-tile:hover {
  transform: scale(1.05);
  transform: translate(0px, -5px);
  box-shadow: 0px 3px 5px 3px rgba(234, 36, 39, 0.657);
  transition: transform .2s;
}

