.character-tile-container {
  display: -webkit-box;
  display: flex;
  width: 22%;
  height: auto;
}

.character-tile {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
  width: 100%;
  /* overflow: auto; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 1vw;
  color: rgba(255, 255, 255, 0.993);
}


.character-tile-img {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.character-tile-text {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
          align-items: flex-end;
  /* flex-flow: column wrap; */
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: .1em;
}
/* On mouse-over, add a deeper shadow */
.character-tile:hover {
  box-shadow: 0px 8px 16px 0 rgba(226, 41, 41, 0.781);
}

@media only screen and (max-width: 600px) {
  .character-tile-container {
    width: 95%;
    height: 25%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;

  }

  .character-tile-img {
    width: 33%;
    height: 100%;
  }

  .character-tile-text {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: space-between;
            align-items: space-between;
  }
}
