.App {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(54, 60, 66);
  overflow: hidden;
}

.flex-container {
  display: -webkit-box;
  display: flex;
}

.flex-container-center {
  display:-webkit-box;
  display:flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.row-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

.row-nowrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
}

.column-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column wrap;
}

.column-nowrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
}

.auto {
  overflow: auto;
}
